header {
    background-color: #5bbad5;
    color: #fff;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.header-titlu{
    margin-left: 0em;
}

.login-img {
    display: flex; 
    justify-content: flex-end;
    width: 4em;
  height: 4em;
  z-index: 1;
  }

.header-img {
    float: left;
    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 50%;
    width: 5em;
  height: 5em;

  
  }